{
  "$schema": "https://json.schemastore.org/prettierrc",
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "endOfLine": "auto",
  "semi": false,
  "plugins": ["prettier-plugin-tailwindcss"]
}